.header{
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 40px;
    letter-spacing: 1.2px;

    .logo{
        font-size:16px;
        font-weight: 100;
        // font-weight: 800;
        text-shadow:-0.5px 0px 0px #1AD7E0, -1px 0px 0px #0D10DC,0.5px 0px 0px #d68010 ,1px 0px 0px #CB0C0C;
        a {
            @include chroma-link;
        }
        .bold{
            font-weight: 800;
        }
    }

    .menu{
        font-size:13px;
        font-weight: 600;
        .menu-item{
            // padding-left:40px;
            @include chroma-link;
            margin-left:40px;
        }

        .fill{
            margin-left:40px;
            color:$background-color;
            background-color:#D9D9D9;
            border-radius: 12px;
            padding:4px 10px;
            // background-color: $text-color;
            transition: all 0.2s ease-in;

            &:hover{
                background-color: $background-color;
                // background-color:#CB0C0C;
                animation:chroma ease-in 0.2s normal forwards;
                color:$text-color;
            }
        }
    }
}

