.footer-wrapper{
    height: 140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 13px;
    text-transform: uppercase;
    line-height: 18px;
    .right{
    }

    .gray{
        color:$gray-600;
    }

    a{
        color:$gray-600;
        transition: all 0.2s ease-in;
        &:hover{
            // color:$text-color;
            color:$red;
        }
    }
}