.image-banner-wrapper{
    width:100%;
    position: relative;
    cursor: pointer;
    text-shadow:-1px 0px 0px #1AD7E0, -3px 0px 0px #0D10DC,1px 0px 0px #d68010 ,3px 0px 0px #CB0C0C;
        &:hover .main-heading {
            text-shadow:-2px 0px 0px #1AD7E0, -4px 0px 0px #0D10DC,2px 0px 0px #d68010 ,4px 0px 0px #CB0C0C;
        }

    .image-banner{
        width:100%;
        border-radius: 7px;
        height: 720px;
        object-fit:cover;
        display: block;
        position: relative;
        border: 0.1px solid #141C4E;
    }


    .overlay-text{
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%, -50%);

        .main-heading{
            font-size:50px;
            letter-spacing: 23px;
            padding: 4px 0px;
            font-weight: 800;
            width:100%;
            color: 100%;
            transition: all 0.1s ease-in;
        }

        p{
            letter-spacing: 0px;
            font-weight: 500;
            text-transform: uppercase;
            font-size: 16px;
            text-shadow:none;
        }

    }

    .overlay-bottom-left{
        position: absolute;
        top:100%;
        text-transform: uppercase;
        font-size: 12px;
        padding-left:10px;
        transform: translate(-0%, -140%);
        text-shadow:none;
    }

}