.blog-layout{
    display: flex;
    // flex-direction: column;
    justify-content: center;

    .blog-layout-wrapper{

        a {
            color:$text-color;
        }
        .blog-post-wrapper{
        //    background-color: $red; 
            max-width: 900px;
            margin-bottom: 40px;
            display: grid;
            grid-template-columns: 200px 300px 1fr;
            grid-gap:20px;
            border: solid transparent 1px;
            border-radius: 4px;


           .blog-image{
            width:200px;
            height:100%;
            border-radius: 4px;
            object-fit: cover;
           }

           .blog-details-wrapper{
            padding-left:10px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

                .blog-name{
                    // display: flex;
                    // justify-content: center;
                    text-transform: uppercase;
                    font-size:18px;
                    padding-bottom:4px;
                    font-weight: 600;
                    width:800px;

                    &:hover{
                        color:$gray-600;
                    }
                }

                .blog-date{
                    font-size:12px;
                    color:$gray-600;
                }

                .blog-tags{
                    text-transform: uppercase;
                    font-size: 12px;
                    color:$red;
                }

           }

                .blog-desc{
                    font-size:12px;
                    line-height: 14px;
                    font-family: $font-inter;


                }
        }
    }
}