*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Style the selection */
::selection {
  background-color: #ac1132; /* Set the background color for selected text */
  color: #ffffff; /* Set the text color for selected text */
}

/* For Firefox compatibility */
::-moz-selection {
  background-color: #ac1132; /* Set the background color for selected text */
  color: #ffffff; /* Set the text color for selected text */
}

$page-side-padding: 20px;